<form action="/breed">
  <div class="form-group">
    <label for="breed">Dog breed</label>
    <input type="text" id="breed" name="breed" class="form-control" />
  </div>
  <button type="submit" class="btn">Add</button>
</form>
